/* GLOBAL */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica", sans-serif;
}
body {
    background: #e4e9f7;
}
a {
    text-decoration: none;
    color: inherit;
}
p a {
    font-weight: 600;
}
.sidebar a {
    color: #fff;
}
ul li::marker {
    color: #e4e9f7;
}
.select-css {
    border: 1px solid #010111;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    height: calc(12px + 30 * (100vw / 1280));
    color: #010111;    
    background: rgba(65, 21, 0, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 12px;
    border: 1px solid rgba(10, 10, 11, 0.226);
    outline: none;
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #010111;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
  overflow: scroll;
}
.sidebar.open::-webkit-scrollbar {
    background: #010111;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #010111;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #010111;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #010111;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #010111;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #010111;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #010111;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #010111;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
body .sidebar .name {
    max-width: 50px!important;
}
#log_out:hover{
    color: red;
}

/* HOME SECTION */
.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #010101;
  border-radius: 12px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: #010111;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}
.home-section .btn::before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 210px;
    width: 50px;
    position: absolute;
    left: -140px;
    transform: skewX(-55deg);
}
.home-section .btn:hover {
    background: #010111;
    color: #fff;
}
.home-section .btn:hover::before {
    left: 5000px;
    transition: .9s ease-in-out;
}
.btn i {
    font-size: 20px;
    padding-right: 10px;
}

.task {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-template-rows: 40px;
    margin: 10px 20px;
    padding: 10px;
    color: #010111;
    background: rgba(65, 21, 0, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 12px;
    border: 1px solid rgba(10, 10, 11, 0.226);
}
.task:hover {
    background: rgba(217, 218, 223, 0.05);
    box-shadow: 0 0 32px 0 rgba(10, 10, 11, 0.527);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 12px;
    border: 1.5 px solid rgba(10, 10, 11, 0.18);

}

.grid_item i{
    color: #010111;
}
.task_first {
    font-size: 40px;
    margin: 0 auto; 
}
.task_second {
}
.task_main_status {
    display: flex;
}
.launched {
    color: darkgreen;
}
.stopped {
    color: darkred;
}
.notifications {
    padding: 0 10px;
}

.task_third {
    z-index: 99;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.task_third a {
    font-size: 25px;
}
.task_third i:hover{
    font-size: 35px;
    color: #fff;
    background: #010111;
    border-radius: 5px;
}

.gridItem {
    background: ;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
}

.home-section .tooltip {
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 3;
    background: #010111;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.home-section i {
    position: relative;
}

.home-section i:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: -100%;
    transform: translateX(50%);
  }

/* TARIFFS */
.title {
    padding-bottom: 20px;
    border-bottom: 1px solid #010111;
    margin: 20px;
}

h3 {
    margin: 20px;
    font-size: 24px;
    
}
.gridTariff { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.blockTariff {
    display: grid;
    margin: 10px;    
    color: #010111;
    background: rgba(65, 21, 0, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 12px;
    border: 1px solid rgba(10, 10, 11, 0.226);
}
.blockTariff:hover {
    background: rgba(217, 218, 223, 0.05);
    box-shadow: 0 0 32px 0 rgba(10, 10, 11, 0.527);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 12px;
    border: 1.5 px solid rgba(10, 10, 11, 0.18);

}
.tariffPeriod {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.paymentOptions i {
    font-size: 24px;
    font-weight: normal;
}
.paymentOptions {
    display: block;
    text-align: center;
}

/* INVITE FRIENDS */

.promoConditions {
    padding-bottom: 20px;
    margin: 0 20px;
    text-align: center;
    font-size: calc(12px + 16 * (100vw / 1280));
    font-family: monospace;
    border-bottom: 1px solid #010111;
}
.promoWrapper {
    text-align: center;
    font-size: calc(12px + 10 * (100vw / 1280));
}
.promoWrapper .btn {
    text-transform: none;
    font-size: calc(12px + 10 * (100vw / 1280));
    cursor: text;
}

/* Settings */
.settings_wrapper {
    display: grid;
}
.settingsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #010111;
}
.text-form {
    display: inline-block;
    padding: 10px;
    line-height: 50px;
    font-size: calc(12px + 5 * (100vw / 1280));
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: calc(12px + 30 * (100vw / 1280));
    color: #010111;    
    background: rgba(65, 21, 0, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 12px;
    border: 1px solid rgba(10, 10, 11, 0.226);
    outline: none;
}
.settingsInput {
    margin-right: 15px;
}
.settings_wrapper h3 {
    margin-left: 20px;
}
.text-form:hover {
    background: rgba(217, 218, 223, 0.05);
    box-shadow: 0 0 32px 0 rgba(10, 10, 11, 0.527);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 12px;
    border: 1.5 px solid rgba(10, 10, 11, 0.18);
}
.clearfix:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
  }
.settingsBlock__title {
    margin: 10px 0;
}
.home-section .settingsBlock .btn {
    margin: 20px 15px 0 0;
    padding: 20px;
}
.twofactor_wrapper {
    margin-top: 20px;
    font-size: calc(12px + 5 * (100vw / 1280));
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
      display: none;
    }